doctype html
html(lang='en')
  head
    // Include Font Awesome Icons
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    // Twitter Bootstrap included for some basic styling
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    // HTML 5 shims for older IE
    //if lt IE 9
      script(src='//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='//oss.maxcdn.com/respond/1.4.2/respond.min.js')
    // Page styles
    link(rel='stylesheet', href='/css/main.css')
  body
  hr
  br
  h1 Thank you, 
center
  h2
    a(href='/users/new') Add New Subscriber
center
  a.form-footer(href='http://www.howardmcqueen.com') Sent Daily from Taylor <i class="fa fa-envelope"></i>


    #main.container
      // Display any error or informational messages
      .message-list
    footer.container
    // Include jQuery and Bootstrap scripts
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    // Include page scripts
    script(src='/js/main.js')
